body{
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    /*Credit: background-image: url(https://images.unsplash.com/photo-1607252614315-894ac19101f4?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);*/
    background-image: url(../img/winter.png); 
    background-repeat: no-repeat;
    background-size:cover;  
    display: flex;
    flex-direction: column;
    align-items: center;

}

.countDownContainer{
   display: flex; 
}

.countElement{
    text-align: center; 
}

.bigText{
    margin: 0 50px;
}

/* 
layout + cool effects[like hovering] - auto adjust the width of whole boxes. 
icons: fontawesome [resource] - get the code
*/ 

